.theme-dark:root {
  --tv-color-platform-background: rgb(12, 17, 11);
  --tv-color-pane-background: rgb(12, 17, 11);
  --tv-color-popup-background: rgb(12, 17, 11);
  --tv-color-popup-element-text: rgb(255, 255, 255);
  --tv-color-popup-element-text-hover: rgb(255, 255, 255);
  --tv-color-popup-element-background-hover: rgb(12, 17, 11);
  --tv-color-popup-element-divider-background: rgb(12, 17, 11);
  --tv-color-popup-element-secondary-text: rgb(205, 205, 205);
  --tv-color-popup-element-hint-text: rgb(207, 207, 207);
  --tv-color-popup-element-text-active: rgb(255, 255, 255);
  --tv-color-popup-element-background-active: rgb(12, 17, 11);
  --tv-color-popup-element-toolbox-text: rgb(227, 227, 227);
  --tv-color-popup-element-toolbox-text-hover: rgb(205, 205, 205);
  --tv-color-popup-element-toolbox-text-active-hover: rgb(200, 200, 200);
  --tv-color-popup-element-toolbox-background-hover: rgb(12, 17, 11);
  --tv-color-popup-element-toolbox-background-active-hover: magenta;
}

.TVChartContainer {
  height: 100%;
}